{% extends "layout.html" %}

{% block saturs %}
    <h1>Aukstā zupa</h1>
    <img src="/static/img/auksta_zupa.jpg" alt="Aukstās zupas attēls.">

    <h2>Nepieciešamie produkti:</h2>
    <ul>
        <li>5 vidēja lieluma, mundierī vārīti, kartupeļi</li>
        <li>1 garais gurķis</li>
        <li>4 vārītas olas</li>
        <li>300 g doktordesas</li>
        <li>30 g loku</li>
        <li>30 g diļļu</li>
        <li>500 ml marinētu biešu</li>
        <li>2 l kefīra</li>
        <li>1 /2 tējk. mārrutku</li>
        <li>1 /2 tējk. sinepju</li>
        <li>Šķipsniņa sāls</li>
        <li>Šķipsniņa pipari</li>
    </ul>

    <h2>Pagatavošanas secība:</h2>
    <ol>
        <li>Visas sastāvdaļas sagriež smalki (rosola frakcijas veidā).</li>
        <li>Pievieno kefīru un 1/2 tējkaroti mārrutku un sinepju.</li>
        <li>Zupai ļauj iestāvēties ledusskapī 15-20 minūtes, lai "ievelkas".</li>
    </ol>
{% endblock %}