{% extends "layout.html" %}

{% block saturs %}
    <h1>Citrona dzēriens</h1>
    <img src="/static/img/citrona_dzeriens.jpg" alt="Citrona dzēriena attēls.">

    <h2>Nepieciešamie produkti:</h2>
    <ul>
        <li>2 l ūdens</li>
        <li>2 citroni</li>
        <li>1 sauja svaigu piparmētru</li>
    </ul>

    <h2>Pagatavošanas secība:</h2>
    <ol>
        <li>Krūkā lej ūdeni. Pievieno šķēlēs sagrieztus citronus. Ļauj 30 minūtes ievilkties.</li>
        <li>Pirms pasniegšanas, pievieno piparmētru.</li>
    </ol>
{% endblock %}