{% extends "layout.html" %}

{% block saturs %}
    <h1>Labdien! Prieks jūs redzēt manā recepšu grāmatā.</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus nihil sit illo assumenda, ut numquam consectetur velit expedita perferendis laudantium libero perspiciatis atque ipsa a similique quos iste animi. Atque! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore nostrum ex nisi accusantium maiores facilis non autem nihil cum labore ea repellat soluta eaque quis quam sunt, cupiditate quod omnis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, voluptatum commodi dolorem ex earum amet exercitationem delectus at ducimus accusamus et. Recusandae consectetur repudiandae quos aperiam similique non earum reprehenderit.</p>
{% endblock %}